################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/.vs/LobbyService/v14
/src/DataStoreService/bin
/src/DataStoreService/obj
/src/LobbyService/bin
/src/LobbyService/obj
/src/LobbyServiceWebAPIModels/bin
/src/LobbyServiceWebAPIModels/obj
/src/LobbyWebServer/bin
/src/LobbyWebServer/obj
